:root {
    --primary-900: #181818;
    --primary-700: #202020;
    --primary-500: #303030;
    --primary-300: rgb(170, 170, 170);
    --primary-100: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body, html {
    background: var(--primary-900);
}
body {
    width: 100vw;
    position: relative;
    font-family: Arial, sans-serif;
}
hr {
    color: rgba(170, 170, 170, .05);
}
nav {
    padding: .5em 2em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 1em;
    background: var(--primary-700);
}
.nav-item {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}
#yt-btn {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
}
#yt-btn img {
    height: 2em;
}
#search {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search input {
    padding:1em;
    width: 50%;
    background: var(--primary-900);
    outline: none;
    border: 1px solid rgba(170, 170, 170, .15);
}
#search input::placeholder {
    font-size: 1.2em;
    color: var(--primary-300);
}
#search-btn {
    height: 3.25em;
    padding: 0 1.5em;
    border: none;
    background: var(--primary-500);
    color: white;
    cursor: pointer;
}
#microphone {
    padding: .5em;
    margin-left: .5em;
    background: var(--primary-900);
}
#avi {
    height: 2em;
    width: 2em;
    background-image: url('./thumbnails/avatar.webp');
    background-size: cover;
    background-position: center;
}
/* main layout styles */
main {
    margin: 8% auto;
    display: flex;
    width: 90%;
    height: 100%;
}
#column-main {
    width: 65%;
    height: 100%;
}
aside {
    margin-left: 1em;
    width: 35%;
    height: 100%;
}
/* player styles */
#player iframe {
    width: 100%;
    aspect-ratio: 16/9;
}
/* player meta */
#player-title {
    font-size: 1.2em;
    color: white;
}
#player-meta {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#player-meta-items {
    display: flex;
    align-items: center;
    gap: 1em;
}
#player-meta-items>p:nth-of-type(1),
#player-meta-items>p:nth-of-type(2){
    color: var(--primary-300);
    font-size: .9em;
}
.player-meta-stack {
    display: flex;
    align-items: center;
    gap: .5em;
    color: white;

}
.player-meta-btn {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}
#player-like {
    margin-left: auto;
}
#player-more {
    color: white;
}
/* player desc */
#player-description {
    position: relative;
    margin: 1em 0;
    display: flex; 
    gap: 1em;
}
#description-stack {
    width: 90%;
}
#description-stack p:nth-child(1) {
    cursor: pointer;
    color: white;
}
#description-stack p:nth-child(2) {
    font-size: .8em;
    margin: .25em 0 1em 0;
    color: var(--primary-300);
}
#description-stack p:nth-child(3) {
    margin-bottom: .5em;
    color: white;
}
#description-stack a {
    font-size: .8em;
    color: var(--primary-300);
}
#player-avi {
    height: 3em;
    width: 3em;
    background-image: url('./thumbnails/odinavi.png');
    background-size: cover;
    background-position: center;
    border-radius: 75%;
    cursor: pointer;
}
#subscribe-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    padding: .5em 1em;
    border: none;
    background: red;
    color: white;
    border-radius: 2px;
}
/* make a comment */
#comments-meta {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}
#comments-meta p {
    font-size: 1.2em;
    color: white;
}
#comments-sort-group {
    display: flex;
    align-items: center;
    gap: 1em;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}
#comments-sort-btn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
#comments-sort-group p {
    font-size: .9em;
}
#comment-avi-personal {
    width: 2em;
    height: 2em;
    background-image: url('./thumbnails/avatar.webp');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#add-comment-container {
    margin: 1em 0;
    display: flex;
    gap: 1em;
}
#add-comment-container input {
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(170, 170, 170, .15);
    outline: none;
    background: none;
}
#add-comment-container input::placeholder {
    color: var(--primary-300);
}
/* comments list */
#comments {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
/* comment object */
.comment {
    margin: 1em 0;
    display: flex;
    gap: 1em;
}
.comment-avi {
    width: 2em;
    height: 2em;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}
.avi-1, .avi-2, .avi-3 {
    background-size: cover;
    background-position: center;
}
.avi-1 {
    background-image: url('./thumbnails/avi1.jpg');
}
.avi-2 {
    background-image: url('./thumbnails/avi2.webp');
}
.avi-3 {
    background-image: url('./thumbnails/avi3.jpg');
}
.comment-stack {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.comment-header {
    display: flex;
    align-items: center;
    gap: .25em;
}
.comment-header p:nth-child(1) {
    font-size: .9em;
    cursor: pointer;
    color: white;
}
.comment-header p:nth-child(2) {
    font-size: .8em;
    color: var(--primary-300);
}
.comment-body {
    color: white;
}
.comment-footer {
    display: flex;
    gap: 1em;
    color: var(--primary-300);
}
.reply {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-300);
}
.thumbup-container {
    display: flex;
    align-items: center;
    gap: .25em;
}
.thumbup-container p {
    font-size: .8em;
}
.thumbup, .thumbdown {
    width: 1em;
    height: 1em;
    cursor: pointer;
}
/* sidebar styles */
#sidebar-filter {
    display: flex;
    gap: .5em;
}
.sidebar-filter-btn {
    padding: .5em 1em;
    border: none;
    border-radius: 2em;
    background: var(--primary-500);
    color: white;
    border: 1px solid rgba(170, 170, 170, .15);
    cursor: pointer;
}
#all {
    background: white;
    color: black;
}
#video-list {
    margin-top: 1em;
}
.list-video {
    margin: .5em 0;
    display: flex;
    gap: .5em;
}
.list-video-thumbnail {
    width: 160px;
    height: 100px;
    background: red;
}
.list-video-stack {
    display: flex;
    flex-direction: column;
}
.list-video-title {
    color: white;
}
.list-video-author {
    margin-top: auto;
    font-size: .9em;
    color: var(--primary-300);
}
.list-video-meta {
    margin-top: .25em;
    margin-bottom: 1em;
    display: flex;
    gap: .5em;
    font-size: .9em;
    color: var(--primary-300);
}